.product-detail-page {
  width: 100%;
  background-color: rgb(228, 228, 228);
}

.product-details-top {
  width: 85%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.details-top-left {
  width: 50%;
}

.detail-avatar {
  width: 350px;
  height: 350px;
  background-color: var(--White-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.detail-avatar img {
  width: 80%;
  height: 90%;
}

.sub-details-avatar {
  width: 60%;
  margin: 1.4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subavatar-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}

.subavatar-container img {
  width: 25%;
}

.details-top-right {
  width: 45%;
}

.details-name {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.details-star-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0.2rem 0;
}

.details-review {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.details-price {
  font-size: 20px;
  font-weight: 600;
}

.details-describe {
  margin: 0.5rem 0 0.8rem;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
}

.details-increament {
  width: 120px;
  display: flex;
  align-items: center;
  margin: 1rem 0 0;
}

.column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--Primary-color);
  padding: 4px;
  font-size: 20px;
}

.add-to-btn {
  margin: 1.2rem 0;
  width: 50%;
  padding: 10px 16px;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--Primary-color);
  color: var(--White-color);
  outline: none;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.add-to-btn:hover {
  background-color: var(--White-color);
  color: var(--Primary-color);
  border: 1px solid var(--Primary-color);
}

.add-to-wishlist {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.add-to-wishlist p {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.product-property {
  margin: 0.5rem 0;
}

.product-details-bottom {
  width: 85%;
  padding: 2rem 0;
  margin: 0 auto;
}

.details-bottom-container {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .product-details-top {
    flex-direction: column;
  }

  .details-top-left {
    width: 98%;
    margin: 0 auto;
  }

  .details-top-right {
    width: 98%;
    margin: 2rem auto 0;
  }

  .detail-avatar {
    width: 60%;
    height: 350px;
    margin: 0 auto;
  }

  .detail-avatar img {
    width: 92%;
    height: 92%;
  }

  .sub-details-avatar {
    width: 50%;
    margin: 1.4rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subavatar-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
  }

  .subavatar-container img {
    width: 25%;
  }
}
