.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 0;
}

.other-product {
  width: 90%;
  margin: 4rem auto 2rem;
}

.other-product-title {
  width: fit-content;
  margin: 2rem 0 3rem;
  font-size: 28px;
  font-weight: 600;
  padding: 1rem 1.5rem;
  text-transform: capitalize;
  color: var(--White-color);
  background-color: var(--Primary-color);
}

.other-product-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  gap: 30px;
}

/* 
===============================================
            RESPONSIVE MODE
===============================================
 */

@media screen and (max-width: 1024px) {
  .other-product {
    width: 100%;
  }
  .other-product-container {
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 25px;
  }
}

@media screen and (max-width: 769px) {
  .other-product {
    margin: 3rem 0 2rem;
  }

  .other-product-title {
    margin: 2rem 0 3rem;
    font-size: 24px;
    font-weight: 600;
    padding: 1rem 1.5rem;
  }

  .other-product-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}

@media screen and (max-width: 426px) {
  .other-product-title {
    margin: 2rem 0 3rem;
    font-size: 24px;
    font-weight: 600;
    padding: 1rem 1.5rem;
  }

  .other-product-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
