.checkout-page {
  width: 100%;
  margin: 2rem 0 1.5rem;
}

.checkout-container {
  width: 98%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0 20px;
}

.checkout-left {
  flex: 1;
  color: var(--White-color);
  background-color: var(--Primary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.checkout-left-title {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem 0 1.5rem;
  color: var(--White-color);
}

.checkout-left-text {
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 2rem;
}

.checkout-left-text span {
  font-size: 20px;
  text-transform: capitalize;
}

.checkout-order-container {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--White-color);
  margin: 0 0 2rem;
  color: black;
  padding: 0 1rem;
  border-radius: 10px;
}

.checkout-order-title {
  font-size: 23px;
  font-weight: 600;
  margin: 1rem 0;
}

.checkout-order-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-order-top h2 {
  font-size: 20px;
  margin: 0 0 0.4rem;
}

.checkout-order-right {
  width: 100%;
}

.checkout-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.checkout-items h4 {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.checkout-items p {
  font-size: 16px;
  font-weight: 600;
}

.checkout-total {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 1rem;
  justify-content: space-between;
}

.checkout-total h4 {
  font-size: 17px;
  font-weight: 600;
}

.checkout-total p {
  font-size: 16px;
  font-weight: 600;
}

.checkout-address {
  width: 70%;
}

.checkout-right {
  background-color: var(--White-color);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.checkout-right-title {
  margin: 2rem 0 1rem;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--Primary-color);
}

.checkout-right-payment {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-payment-title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 0 0 1rem;
}

.right-payment-title p {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--Primary-color);
}

.right-payment-icon {
  display: flex;
  align-items: center;
  margin: 0 1rem 0 0;
}

.right-payment-icon img {
  width: 70px;
}

.checkout-payment-field {
  background-color: #e4e4e4ea;
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.checkout-payment-field input {
  width: 90%;
  height: 45px;
  margin: 1rem 0;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 0 0 10px;
  font-size: 18px;
  width: 500;
  text-transform: capitalize;
}

.payment-field {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.checkout-right-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 1rem auto;
  padding: 0 0 0 1rem;
}

.checkout-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--White-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.checkout-right-bottom img {
  width: 100px;
}

.right-checkout-btn {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  font-size: 20px;
  margin: 1rem 0 2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* 
=================================================================
               RESPONSIVE MODE
=================================================================
 */

@media screen and (max-width: 769px) {
  .checkout-container {
    flex-direction: column;
  }

  .checkout-order-container {
    width: 95%;
  }

  .checkout-left {
    width: 95%;
    margin: 0 auto;
  }

  .checkout-left-title {
    font-size: 19px;
  }

  .checkout-right {
    width: 100%;
    margin: 2rem 0 1rem;
  }

  .checkout-left-text {
    font-size: 16px;
    text-align: center;
    line-height: 30px;
  }

  .checkout-left-text span {
    font-size: 18px;
  }

  .checkout-order-container {
    width: 90%;
  }

  .checkout-order-title {
    font-size: 20px;
  }

  .checkout-order-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .checkout-order-top h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0.5rem;
  }

  .checkout-items h4 {
    font-size: 16px;
  }

  .checkout-items p {
    font-size: 15px;
  }

  .checkout-order-right {
    width: 100%;
  }

  .checkout-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }

  .checkout-total {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 1rem;
    justify-content: space-between;
  }

  .checkout-total h4 {
    font-size: 15px;
  }

  .checkout-total p {
    font-size: 15px;
  }

  .checkout-address {
    width: 90%;
  }

  .checkout-right {
    background-color: var(--White-color);
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .checkout-right-title {
    font-size: 23px;
  }

  .checkout-right-payment {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .right-payment-title {
    margin: 0 0 0 0.4rem;
  }

  .right-payment-title p {
    font-size: 16px;
  }

  .right-payment-icon {
    margin: 0 0.4rem 0 0;
  }

  .right-payment-icon img {
    width: 65px;
  }

  .checkout-payment-field {
    background-color: #e4e4e4ea;
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .checkout-payment-field input {
    width: 100%;
    font-size: 16px;
  }

  .payment-field {
    width: 100%;
    flex-direction: column;
    gap: 2px;
  }

  .checkout-right-bottom img {
    width: 90px;
  }

  .right-checkout-btn {
    width: 80%;
    padding: 0.8rem 1rem;
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .checkout-right-title {
    font-size: 18px;
  }

  .right-payment-title p {
    font-size: 14px;
  }

  .right-payment-icon img {
    width: 60px;
  }

  .checkout-payment-field input {
    font-size: 14px;
  }

  .checkout-right-bottom img {
    width: 70px;
  }

  .right-checkout-btn {
    width: 60%;
    padding: 0.8rem;
    font-size: 15px;
    font-weight: 500;
  }

  .checkout-circle {
    width: 23px;
    height: 23px;
  }
}
