.top-category-container {
  width: 100%;
  position: relative;
  margin: 2rem 0 4rem;
  overflow-x: hidden;
}

.category-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-title {
  font-size: 28px;
  color: var(--Primary-color);
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.top-category-slider {
  margin: 2rem 0 0;
}

.category-img {
  display: flex;
  width: 100px;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #dbdbdb;
  box-shadow: 5px 5px 4px #585858, -5px -5px 4px #ffffff;
  object-fit: contain;
}
.category-container {
  text-decoration: none;
}

.category-img img {
  border-radius: 50%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.category-img img:hover {
  transform: scale3d(1.2, 1.2, 1);
}

.category-name {
  margin: 1rem 0 0;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--Primary-color);
}

/* 
=============================================
           RESPONSIVE MODE
=============================================
 */

@media screen and (max-width: 768px) {
  .category-title {
    font-size: 24px;
    font-weight: 700;
  }

  .category-img {
    width: 90px;
    height: 90px;
  }
  .category-img img:hover {
    transform: none;
  }
  .category-name {
    font-size: 14px;
    font-weight: 600;
    margin: 1rem 0 1rem -3rem;
  }
}

@media screen and (max-width: 425px) {
  .category-title {
    font-size: 20px;
    font-weight: 700;
  }
}
